.node-container{
    align-items: center;
    background: #F5F5F5;
    border-radius: 50%;
    height: 90vh;
    text-align: center;
    margin: auto;
    justify-content: center;
    width: 90vh;  
    color: #344e41;
}

.node-info-container {
    padding-top: 5vh;
}

.node-title-container p{
    font-size: 30px;
}

.node-summary-container {
    width: 70vh;
    height: 40vh;
    margin: auto;
    background-color:#FAFAFA;
    text-align: left;
    padding: 10px;
    border-radius: 2%;
}