.tag-dashboard-table-container{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.tag-dashboard-table {
    border: 1px solid;
    border-collapse: collapse;
    font-size: 1em;
    margin: 25px;
    width: 100%;
}

.tag-dashboard-table thead{
    background-color: #788770;
    color: #ffffff;
}

.tag-dashboard-table th {
    display:flex;
    padding: 5px 5px;
    width: 100%;
}

.tag-dashboard-table td, tr{
    display:flex;
    padding: 5px 5px;
    width: 100%;
}

.tag-dashboard-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.react-contextmenu {
    background-color: white;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .10rem;
    color: #283618;
    margin: 2px 0 0;
    min-width: 150px;
    padding: 5px 0;
    text-align: left;
}

.react-contextmenu-item {
    cursor: pointer;
}

.react-contextmenu-item.react-contextmenu-item:hover{
    color: white;
    background-color: #283618;
    border-color: #283618;
}