.tagger-container ul{
    list-style-type: none;
    
}

.tagger-container {
    max-height: 180px;
    overflow-y: auto;
    text-align: left;
    padding: 10px;
    margin-left: 40px;
}

.tagger-searchBar-container{
    margin: 40px;
}