.node-container{
    align-items: center;
    background: #E0E0E0;
    border-radius: 50%;
    height: 90vh;
    text-align: center;
    margin: auto;
    justify-content: center;
    width: 90vh;  
}

.node-info-container {
    padding-top: 10vh;
}

.node-summary-container {
    width: 70vh;
    height: 40vh;
    margin: auto;
    background-color:#EEEEEE;
    margin-top: 10vh;
    text-align: left;
    padding: 10px;
}

.node-title-container {
    font-size: 25px;
}
