.popup-container {
    position: fixed;
    width: 100%;
    height: 100vh;
}

.container {
    position: relative;
    margin-top: 0px;
}

.close-icon {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 300px;
}