.tag {
    position: relative;
    padding: 0 3px 0 10px;
    margin: 0 10px 10px 0;
    color: #788770;
    border-radius: 5px 5px 5px 5px;
    height: 25px;
    line-height: 22px;
    border-width:1.65px;
    border-style: solid;
    border-color: #788770;
    text-decoration: none;
    float: left;
}

.tag:hover{
    background-color: green;
    border-color: green;
    color: white;
}