:root {
    --app-background-color: white;
    --app-title-color: #788770;
    --app-notif-color: #9FB08D;
    
}

.confirmation-title-text {
    color: var(--app-title-color);
    padding: 0 0 0 0;
}

.confirmation-email-icon img{
    width: 100px;
    height: 100px;
}

.confirmation-sent-component-container{
    text-align:center;
}

.confirmation-notif{
    text-align: center;
}

.confirmation-notif hr{
    width:70%;
}

.confirmation-notif p{
    font-size: 15px;
    color: var(--app-notif-color);
    text-align: center;
}